
# Data Science Tools  and Technique

### Introductory
This notebook explores data science languages, libraries, and basic operations

Languages used in Data Science -
- Python
- R
- SQL
- Java

Data Science libraries -
- numpy
- pandas
- tensorflow
- Scikit learn

Data Science tools - 
| Tool          | Purpose                         |
|---------------|---------------------------------|
| Jupiter       | intractive programming tool     |
| My SQL        | Data Storage and oprations      |
| Pytorch       | Database queries                |
| VS Code       | Advanced coding environment     |
| Git           | Version control                 |
| Tableau       | Data visualization              |
| Apache Spark  | Big data processing             |

Arthemetic Expression -

 Addition (+)
- Example - ( 5 + 3) = 8

 Subtraction (-)
- Example - ( 5 - 3) = 2

 Multiplication (*)
 - Example - ( 5 * 3) = 15
 
 Division (/)
- Example - ( 5 / 3) = 1.66

 Exponentiation (**)
- Example - ( 5 ** 3) = 125

Modulus (%, remainder after division)
- Example - ( 5 % 3) = 2

In [3]:
 (2 * 3) + 45 # multiplication and addition

51

In [7]:
hours = 5
minutes = hours * 60 
print (minutes)

300

Objetcives - 
- To know Data science tools and techniques
- To know about libraries used in Data Science
- To perform arthemetic opertaions

_Introductory_
-  This notebook explores data science languages, libraries, and basic operations

###### Author's Name : Aditya Sutar

###### Github Link Of this Notebook -